build/
*/target/
EIF/remapped/
EIF/local_maven_repo/
EIF/remapper/

src/payload.jar.hpp
src/MemoryJarClassLoader.class.hpp

tools/
File2Hex/File2Hex.exe
*.class
mujina_logs.txt
*.dll
*.jar
CMakeCache.txt
CMakeFiles/
*.obj
*.pdb
*.ilk
*.exp
*.lib

.vscode/
.idea/
*.iml
*.swp
*.swo
*~

Thumbs.db
.DS_Store
"EIF/src/main/resources/ssl.jks" 
